
body {
    margin: 0;
    font-size: 15px;
    font-family: "verdana";
    line-height: 1.6;
    color: black;


}
.money{
    background:url("./mogo/assets/images/intro.jpg");
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

hr {
    display: block;
    width: 100%;
    height: 5px;
    margin: 40px 0;
    border: 0;

    background-color: #e5e5e5;
}

.container {
    width: 100%;
   /* !*max-width: 1400px;*!*/
    margin: 0 auto;
}
.container--grey{
    display: flex;
    justify-content: space-around;

}




.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: center no-repeat;
    -webkit-background-size: cover;
}

.intro_inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;

    text-align: center;

}

.intro_title {
    color: #F3F3F3;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
 /*   !*
    text-align: center;
    *!*/
    line-height: 1;
}

.intro_title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto;

    background-color: #F3F3F3;
}

.intro_subtitle:after {
 /*   !*content: ;*!*/
    display: block;
    width: 60px;
    height: 3px;
    background-color: #F3F3F3;
}

.intro_subtitle {
    margin-bottom: 20px;
    font-family: 'Kaushan Script',
    cursive;
    font-size: 72px;
    color: #F3F3F3;
    text-align: center;

}

.header {
    width: 100%;
    padding: 30px;
    /*position: absolute;*/
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    font-size: 30px;
    font-weight: 700;
    color: #F3F3F3;
}

.nav {
    font-size: 14px;
    text-transform: uppercase;

/*    !* transition: color .2s linear;*!*/
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #F3F3F3;
    text-decoration: none;
    transition: color .2s linear;
}

.nav_link:after {
    display: block;
    width: 100%;
    height: 3px;

    background-color: red;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .2s linear;
}

.nav_link:hover {
    color: #fce38a;

    border-bottom: #fce38a solid 1px;


}

.nav_link:hover:after,
.nav_link.active:after {
    opacity: 1;
/*
    !*
    display: block;
    *!*/
}

.nav_link.active {
    color: #fce38a;
}

/*
!*
hr{
    background-color: red;
    color: red;

}*!
*/
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    border: 2px solid #F3F3F3;
    font-size: 14px;
    font-weight: 700;
    color: beige;
    text-transform: uppercase;
    text-decoration: none;
    transition: background .1s linear, color .1s linear;
}

.btn:hover {
    background-color: white;
    color: black;
}

.slider {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.slider_item {
    width: 22%;
    padding: 20px 0;
    position: relative;
    border-top: 3px solid white;
    opacity: .7;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
}

.slider_item.active {
    opacity: 1;
}

.slider_item.active:before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;

    background-color: #f38181;

    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
}

.slider_num {
    font-size: 24px;
    font-weight: 700;
}

.section {
    padding: 80px 0;
    background-color: white;

}

.section--devices {
    padding-bottom: 0;

    background-image: url("./mogo/assets/images/devices-bg.jpg");
    -webkit-background-size: cover;
    background-size: cover
}
.section--grey{
    background-color:#f8f8f8 ;
}




.section__header {
    /*!*  width: 100%;
      max-width: 95px;
      margin: 0 auto 40px;*!*/
    text-align: center;
/*    !*
    margin-bottom: 40px;
    *!*/
}

.section__subtitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
  /*  !*
    color:red;
    *!*/
}

.section__title {
    font-size: 30px;
    font-weight: 700;

    text-transform: uppercase;
}

.section__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto 0;
    background-color: #f38181;
}

.section__text {
    font-size: 15px;
    color: #494c4a;
}

.about {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
    align-items: center;
}



.about__item {
   /* !*width: 30%;*!
    !*flex: 1 1 400px;*!*/
    position: relative;

}
.about_inner{
    background-color: #95e1d3;
    position: relative;
}
.about__description{
    text-align: center;
}

.about__item:hover .about__img {

    transform: translate3d(-10px, -10px, 0);
}


.about__item:hover .about__img img {
    opacity: .3;
}

.about__item:hover .about_text {
    opacity: 1;
}


.about__img {
    background: linear-gradient(to bottom, #f38181, #fce38a);
    transition: transfrom .1s linear;
    display: block;
    justify-content: center;
    height: 100%;


}

.about__img img {

    width: 100%; /*!* or any custom size *!*!*/
    height: 300px;
    object-fit: contain;
   /* !*position: center;*!
    !*border:  red solid 10px;*!
    !*border-radius: 5px;*!*/
    transition: opacity .1s linear;
}

.about_text {
    width: 100%;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 4;
    transform: translate3d(0, -50%, 0);
    transition: opacity .1s linear;
}

.statistics {
    background-color: #95e1d3;
}

.stat {
    display: flex;
}

.photo{
    height: 100%;
    max-width: 100%;
    /*height:570px;*/

    object-fit: cover;
}




.stat_item {
    flex: 1 1 0;
    padding: 70px 25px;
    border-left: 1px solid #38d1ff;
    text-align: center;
    color: white;
}

.stat_item:last-child {
    border-rightt: 1px solid #1c444c;
}

.stat_count {
    font-size: 72px;
    font-weight: 700;
}

.stat_text {
    font-size: 14px;
    text-transform: uppercase;
}

.services {
    display: flex;
}
.services_item {
    flex: 1 1 0;
    padding-left: 85px;
    padding-right: 35px;
    position: relative;
}
/*.services_item {
    flex: 1 1 0;
    padding-right: 10px;
    padding-left: 70px;

}*/

/*.services__icon {
    !*
    position: absolute;
    *!
  margin-top: 10px;
    left: 28px;
    z-index: 1;
}*/
.services_title {
    margin-bottom: 10px;

    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}
/*.services_title {
    padding: 30px;
    margin-bottom: 10px;
    font-size: 14px;
    color: black;
    text-transform: uppercase;
}*/

.services_text {
    font-size: 15px;
    color: #999;
}

/*.services_text {
    font-size: 15px;
    color: #848a88;
}*/

.devices {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;

}

.devices__item {
    display: block;
}

.devices__item--iphone {
    position: absolute;
    bottom: -50px;
    right: 150px;
    z-index: 1;
}
.wedo{
    display: flex;
}
.wedo_item{
    width: 50%;
}

.accordion_item{
    margin-bottom:10px ;
border: 1px solid #e5e5e5;
}
.accordion_item.active
.accordion_content {
    display: block;
}
.accordion_item.active
.accordion_header{
border-bottom-color:  #e5e5e5;
}


.accordion_item.active
.accordion_header:after{
    transform: translateY(-50%) rotate(-45deg);
    margin-top: 5px;
}

.accordion_header{
    padding: 15px 20px 15px 65px;
    position: relative;
    border-bottom:1px solid transparent;
    cursor: pointer;
}
.accordion_header:after{
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    /*
    margin-top: ;
    */

    border-top: 2px solid #cccccc;
    border-right: 2px solid #cccccc;

    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;

    transform: translateY(-50%) rotate(-220deg);
}


.accordion_icon{
    position: absolute;
    top: 30px;
    left: 20px;
    z-index: 1;

    transform: translateY(-50%);
}


.accordion_content{
    padding: 15px 20px;
    display: none;
    font-size:15px ;
    color: #999999;
    font-style: italic;
    font-weight: 300;
}
.accordion_title{
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;
}
.reviews_photo{
    width: 145px;
    height: 145px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.reviews{
    padding: 0 110px;
    position: relative;
}
.reviews_item{
    padding-left: 205px;
    position: relative;
}
.reviews_text{
    margin-bottom: 15px;
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    color: #999999;
}
.reviews_author{
    font-family: 'Kaushan Script', cursive;
    font-size:24px ;
    color: black;
}
.reviews_author:before{
   content: "";
    display: inline-block;
    vertical-align:middle;
    width: 60px;
    height: 3px;

    margin-right: 10px;

    background-color:red ;
}
.reviews_btn{
    font-size: 0;
    color:transparent ;
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
}
.reviews_btn:after{
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid #cccccc;
    border-left: 2px solid #cccccc;


}
.reviews_btn--prev{
    left: 0;
    transform: rotate(-45deg);
}
.reviews_btn--next{
    right: 0;
    transform: rotate(135deg);
}
.card__name{
    margin-bottom: 5px;
    font-size: 14px;
    color: black;
    text-transform: uppercase;
}
.card__prof{
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
    color: #999999;
}
